!!! 5
html(lang="en")
  head
    title Arduino control nodeuino for JavaScript and Node.js with WebSockets and HTML5
    link(rel="stylesheet", href="styles/bootstrap/init.css")
    link(rel="stylesheet", href="styles/prettify.css")
    link(rel="stylesheet", href="styles/init.css")
    script(data-main="scripts/app." + jsApp, type="text/javascript", src="scripts/vendor/require-jquery.js")
    script(type="text/javascript", src="http://localhost:8090/socket.io/socket.io.js")
  body
    .navbar.navbar-fixed-top(style="z-index: 4;position:absolute;")
      .navbar-inner
        .container
          div.nav-collapse
            ul.nav
              li(class=(active == 'home' ? 'active' : ''))
                a(href="index.html") Home
              li(class=(active == 'getting-started' ? 'active' : ''))
                a(href="getting-started.html") Getting Started                
              li.dropdown(class=(active == 'examples' ? 'active' : ''))
                a.dropdown-toggle(href="#",data-toggle="dropdown") Example Wirings 
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="example-walkLED.html") Adjustable LED Walker
                  li
                    a(href="example-motor.html") Adjustable Motor
              li
                a(href="https://github.com/semu/noduino") View on GitHub &raquo;
            div.nav-collapse.pull-right
              ul.nav
                li
                  a(href="http://semu.mp") semu.mp
      a(href="#")
        img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 10;",src="images/forkme.png",alt="Fork me on GitHub")          
    .container!=body
      footer.footer
        p.pull-right
          a(href="#") Back to top
        p.pull-left
          a(href="http://arduino.cc")
            img(src="images/arduino.jpg", style="position: relative; margin-right: 18px; top: 5px; margin-left: 4px; border-radius: 3px;")
        p The 
          a(href="https://semu.github.com/noduino") noduino
          |  project was founded in 2012 and is maintained by 
          a(href="http://semu.mp") Sebastian Müller
          | .
        p All Noduino code is licensed under the 
          a(href="http://www.opensource.org/licenses/mit-license.php") MIT License
          |  and available on 
          a(href="https://github.com/semu/noduino") GitHub
          |  for free.  
        p Icons from 
          a(href="http://glyphicons.com/") Glyphicons Free
          | . Layout based on 
          a(href="http://twitter.github.com/bootstrap/") twitter bootstrap framework
          | . 
